language : bash
env:
    global:
      - HUB_PROTOCOL=https
      #GITHUB_TOKEN
      - secure: "a3b5PMAhNwRahrvQVPzEeIdjuP06dKdoieuWcjR9tWeJ68o7djhLxscQdAipPbCxipsRXRvR8roYSUEnZYNnIxZ/t7RiLgV6PoCfe7yygZFb6RHJMWKyLuRpChfsi0xK+0zGmq8m/qjUMCZniaprfQdvjRWKVvSwdjCu7t0egSCSbcvbmGO3naqRLiqa67F94L8jT48cv5YQw/s6o3tQZZEOJrgk+zkYX+Lin3fLeuXdH3mJzGfOMoPCuvv7EoqnLoB65PmSSnTvp+O2J1QqeQGgkghwqXoNNH9SUGH/vv+Ct32IErXDMGHgEwySSKRZszFHmZjMbk3FNt4X6aCjy2z4rzos3klDm59mUt0mszHTVenloyNpc/LKIK7Q3yHAaPoYvTFHfNfm0jLOmfkMjSs+ruJqodO9ZO+LAZ4u3ZqviE7dCkMo2ySxkZ/LVL+DAAbKfAT08n8DV4lrc15b+meidHLpkXKeYPSZr+hMznoP8PlEg/V923gg282UyKns4AIHvhxMOJHCKYbHyNeKzm+kVRnBAJYjF/udX0M9VWGd5Otv69tTsU3vLABPzCBjXV0Hg/MooEYQ4nJzI34rs1Fpu9GPmhNS2SLPYIAjhbqtoAsLLveApgfDexSN5V4xq+SMHZtJkrWucIO871oLLe15SPKqq+8p+BYu1VF6nJk="
branches:
  except:
  - nightly
git:
  quiet: true
before_install:
    - curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo gpg --dearmor -o /usr/share/keyrings/githubcli-archive-keyring.gpg
    - echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
    - sudo apt-get -qq update
    - sudo apt-get install -y debhelper devscripts fakeroot build-essential po-debconf gh
    - openssl aes-256-cbc -K $encrypted_2155243bff9e_key -iv $encrypted_2155243bff9e_iv -in 077CC9F2.gpg.enc -out 077CC9F2.gpg -d
    - gpg --import 077CC9F2.gpg
install:
    - debuild '-k9D1DC8DD077CC9F2'
deploy:
    - provider: releases
      skip_cleanup: true
      file_glob: true
      file: "../*.deb"
      api_key:
          secure: "MIPNvNTqtGv/SEFLx8rgEWEvD5p6AszU+iVm1+1fu0G3NdJOPhADVJtvpcfqk/fq7s4VnMxQPwkr9na/Q/EFULXAYeRRd6XTa/TImCVP5Ox6ik/gnCfvPHpdyx1JeOd4imO7uvVFVFVwZxeZLJu8Knoz0wlnFafUkPn5aEPgs21HYOa1Wu7GLowoSmxwJyNUSHA8lU4wpK39kZx/T3jLNGEWqHmhIplpHIZL2p0E6OhTUsLhVtA2FjxP1MjusrY6E1QzkeUTJSZ5U1c43e/vjqm4dM4tW+vUGsMmjVB4+fimN4x3rBqYh+GTfiK/UqDlGWuELCW9DoxufFjHWi2wgUNhC2BJsGGhIMhc8cD1dRcMJu4obw/Wg0WmN/CmGNb8iTPsisyRhv5V+90k7vPc9ATOReI9Wd2maVxTp8csBjfHKx2m+i1o+CaDpBcoPkvzp60fjFGdCpgyRhMGv9BRffjmz8EklaJte3KH/O12TedcM5vlsXIatrT2g8aXZ4BC4d0cLoxD1G6babfgrNrrW6M9rHi2tIqX4VycZyIrWAJp6t5W68gFf4fjsNRHCCRyFHOYhtoVFjvEiMEdPvljXjrOq4snFp+r+45zPJ8fM2S11wvfsUuaTJdm2Y6uA336o1T+KvA5TdGpjCxMTaYt/WgDrnqMVyeFXG3zbg2uyEg="
      on:
          tags: true
    - provider: releases
      skip_cleanup: true
      file_glob: true
      file: "../*.deb"
      tag_name: "nightly"
      prerelease: true
      name: Automatic nightly build by Travis on $(date +'%F %T %Z').
      target_commitish: $TRAVIS_COMMIT
      api_key:
          secure: "MIPNvNTqtGv/SEFLx8rgEWEvD5p6AszU+iVm1+1fu0G3NdJOPhADVJtvpcfqk/fq7s4VnMxQPwkr9na/Q/EFULXAYeRRd6XTa/TImCVP5Ox6ik/gnCfvPHpdyx1JeOd4imO7uvVFVFVwZxeZLJu8Knoz0wlnFafUkPn5aEPgs21HYOa1Wu7GLowoSmxwJyNUSHA8lU4wpK39kZx/T3jLNGEWqHmhIplpHIZL2p0E6OhTUsLhVtA2FjxP1MjusrY6E1QzkeUTJSZ5U1c43e/vjqm4dM4tW+vUGsMmjVB4+fimN4x3rBqYh+GTfiK/UqDlGWuELCW9DoxufFjHWi2wgUNhC2BJsGGhIMhc8cD1dRcMJu4obw/Wg0WmN/CmGNb8iTPsisyRhv5V+90k7vPc9ATOReI9Wd2maVxTp8csBjfHKx2m+i1o+CaDpBcoPkvzp60fjFGdCpgyRhMGv9BRffjmz8EklaJte3KH/O12TedcM5vlsXIatrT2g8aXZ4BC4d0cLoxD1G6babfgrNrrW6M9rHi2tIqX4VycZyIrWAJp6t5W68gFf4fjsNRHCCRyFHOYhtoVFjvEiMEdPvljXjrOq4snFp+r+45zPJ8fM2S11wvfsUuaTJdm2Y6uA336o1T+KvA5TdGpjCxMTaYt/WgDrnqMVyeFXG3zbg2uyEg="
      on:
          branch: master
before_deploy:
    - >
      if [[ $TRAVIS_BRANCH == "master" ]]; then
        gh release delete nightly -R ${TRAVIS_REPO_SLUG} -y
        git tag -f nightly || true &&
        git remote add gh https://${GITHUB_TOKEN}@github.com/${TRAVIS_REPO_SLUG}.git &&
        git push --delete -f gh nightly || true &&
        git push -f gh nightly || true
      fi