#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# This file is public domain software, originally written by Joey Hess.
#
# This version is for a multibinary package. It also allows you to build any
# of the binary packages independantly, via binary-<package> targets.

# We use 4 spaces for 1 tab
# Took attention between these two formatting

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

#Define version packaging
#Exclude nighly version

export DEBFULLNAME= Travis Bot
export DEBEMAIL   = travis-ci@alternc.net

VERSION_DEFAULT="0.0.0"
IS_NIGHTLY=0
DISTRIBUTION=stable
VARIABLES_FILE=variables.txt

#Get current version tag
VERSION_LAST=$(shell git tag -l --points-at HEAD |grep -v 'nightly')

#If not set, find last tag in previous history
#it's considered as nightly commit
ifeq ($(strip $(VERSION_LAST)),)
	IS_NIGHTLY=1
	VERSION_LAST=$(shell git tag | sort -V |grep -v nightly|tail -1)
endif

#Set root version
VERSION := $(if $(VERSION_LAST),$(VERSION_LAST),$(VERSION_DEFAULT))

#Update valude in nightly context
ifeq ($(strip $(IS_NIGHTLY)),1)
    ifneq ("$(wildcard $(VARIABLES_FILE))","")
        include ./$(VARIABLES_FILE)
    else
        VERSION:=$(VERSION)+$(shell date +'%y%m%d%H%M%S')
        DISTRIBUTION=experimental unstable testing
        $(file >$(VARIABLES_FILE))
        $(file >>$(VARIABLES_FILE),VERSION:=$(VERSION))
        $(file >>$(VARIABLES_FILE),DISTRIBUTION:=$(DISTRIBUTION))
    endif
endif

clean:
	dh clean
	rm -f debian/files
	(git rev-parse --git-dir > /dev/null 2>&1 && git checkout debian/changelog) || true
    ifeq ($(strip $(IS_NIGHTLY)),1)
		(git rev-parse --git-dir > /dev/null 2>&1 && echo|dch --distribution "$(DISTRIBUTION)" --force-bad-version --newversion $(VERSION) autobuild) || true
    endif
%:
	dh $@